<div class='splash-body default-font'>
  <h1 class='splash-title'>Snapscan</h1>

  <div class='splash-links'>
    <%= link_to 'LOGIN', new_user_session_path, class: "button is-info is-active mb-2" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "button mb-2"%>
  </div>
</div>
